<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />
<title>Detail Pizza</title>
</head>
<body>
  <harder th:replace="fragments :: header"></harder>
  
  <main class="container" th:object="${pizza}">
      
      <div th:replace="fragments :: back-to-home"></div>  
      
      <h1 class="my-5 pt-5">[[*{name}]]  <span class="fs-5 fw-bolder ms-5">€ [[${pizza.price}]]</span></h1>
      
      <div class="row">
          <div class="col-8">
              [[*{description}]]
          </div>
          <div class="col-4">
              <img class="img-fluid" th:src="${pizza.photo}" alt="pizza-photo">
          </div>
      </div>
      <div class="mt-5">
         <i class="fw-bolder">id: [[*{id}]]</i>          
      </div>
  </main>
</body>
</html>